{% load static %}
<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8" />
      <title>BLOG</title>
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
<link href = "{% static "style_blog.css" %}" rel="stylesheet" />
</head>
<body>
    
<div class="container">
    
<ul class="nav nav-tabs">
  <li role="presentation" class="active "><a href="/">Home</a></li>
  <li role="presentation"><a href="/blog/">Blog</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
 


