html,body{
	height: 100%;
	width: 100%;
	 font-family: 'Roboto Slab', serif;
}

a,
a:hover,
a:focus,
a:active,
a:visited,
a.active {
  outline: none;
  text-decoration: none;

}

.home-section{
  margin-top: 50px;
	background: url('https://hd.unsplash.com/7/Top_view.jpg') no-repeat center;
	background-size: 100% 100%;
	height: calc(100vh - 50px);
	overflow: hidden;	
}

.small-header{
  color: #fed136;
	text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px;
  font-style: italic;
  word-spacing: 3px;
}

.about-section{
	height: auto !important;
  min-height: 100%;
	overflow: hidden;
	background-color: white;
  padding-top: 50px;
	
}

.portfolio-section{
	height: auto !important;
	min-height: 100%;
	overflow: hidden;
	padding-top: 50px;
	color: white;
	background-image: url('../img/portfolio.jpg');
	background-size: 100% 100%;
	height: calc(100vh - 50px);
	overflow: hidden;
	
	
}

.contact-section{
	height: auto !important;
	min-height: 85%;
	overflow: hidden;
	padding-top: 50px;
	background-image: url('https://hd.unsplash.com/photo-1430165558479-de3cf8cf1478');
	background-size: 100% 100%;
	height: calc(100vh - 50px);
	overflow: hidden;
    
	
}

.navbar-nav {
  text-transform: uppercase;
  color: #feaf36;
  font-size: 15px;
}

.navbar-brand{
	font-size: 20px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.navbar-header{
	color: #dab520;

}
footer{
	text-align: center;
	padding-top: 10px;
    color: #dab520;
    font-size: 20px;
  }

.skills-icon{
  padding-left: 0;
}

.skills-icon > li{
	text-decoration: none;
	display: inline-block;
	padding:5px 10px;
}
.about-padding{
    margin-bottom: 5px;
}
.about-me-padding{
  padding-top: 10px;
}
.img-me{
  margin-top: 20px;
}
.form-style{
  border:3px solid white;
  background-color: rgba(244, 248, 246, 0.6);
  margin-bottom: 20px;
  margin-top: 30px;
    
}
.contact{
	color: black;
	font-size: 15px;
}


 .scrollup{
	width: 48px;
	height: 48px;
	text-decoration: none;
	background: url('../icon/arrow.png') no-repeat 0px 0px;
	position: fixed;
	right: 30px;
	bottom: 50px;
	display: none;
  z-index: 99999;
}



@media (max-width: 767px) {
    
    h1{
        font-size:38px;
    }
    h3{
        font-size: 27px;
    }
    .section-home{
      overflow:scroll;
    }
    .small-header{
        background-color: rgba(218,164,80,0.2);
        background-size:100% 100%;
        height:100vh;
        padding-top:70px;
        
    }
    .about-padding{
        padding-top:30px;
    }
    .about-me-padding{
        padding-top: 30px;
}


    .skills-icon > li{
        padding:10px 5px;
    }
    .form-style{
        margin:20px;
    }
    
    .scrollup{
      	width: 24px;
      	height: 24px;
      	text-decoration: none;
      	background: url('../icon/arrow-small1.png') no-repeat 0px 0px;
      	position: fixed;
      	right: 10px;
      	bottom: 20px;
      	display: none;
        z-index: 99999;
    
    }

}

@media (min-width: 768px) {
  

    .small-header{
        background-color: rgba(218,164,80,0.2);
        background-size:100% 100%;
        height:100vh;
        padding-top:100px;
        color: #fed136;
    }
    
    
    h1{
      font-size: 55px;
      margin-top: 5px;
    }
    h3{
      font-size: 40px;
      margin-top: 5px;
    }
    
    .scrollup{
    	width: 32px;
    	height: 32px;
    	text-decoration: none;
    	background: url('../icon/arrow-small.png') no-repeat 0px 0px;
    	position: fixed;
    	right: 20px;
    	bottom: 30px;
    	display: none;
      z-index: 99999;
}
    
    
}

@media (min-width: 992px) {
    .small-header{
        padding-top: 100px;
    }

}

@media (min-width: 1200px) {
    .small-header{
        padding-top: 110px;
    }


}


