body{
    background-image: url('milioner.jpg');
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;

}
.container{
    width: 1020px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
   

 
}
.pytanie{
    background-color: rgba(83, 76, 135, 0.7);
    color:white;
    padding: 10px;
    height: 140px;
    margin-top: 550px;

}


.btn{
    margin: 5px;
    width: 200px;
    margin-bottom: 5px;
    display: block;

}

.btn-default:hover
{
  background: darkgoldenrod;
  color:white;
}

