body {
    
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Calibri', 'Tahoma', 'Arial';
    font-size: 13px;
    color: #202020;
    text-align: center;
    line-height: 20px;
    background-image: url('../img/old-white.jpg');
   

   

}

input.text {
    width: 278px;
    height: 28px;
    padding: 0px 10px;
    border: 1px solid #CCC;
    outline: none;
}

textarea:focus,
input.text:focus {
    border: 1px solid #2196F3;
}

textarea.error,
input.text.error {
    color: #FF0000;
    border: 1px solid #FF0000;
}

textarea.valid,
input.text.valid {
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

textarea {
    width: 278px;
    min-height: 128px;
    padding: 10px;
    border: 1px solid #CCC;
    outline: none;
}

input.button {
    height: 28px;
    padding: 0px 15px;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    background: #03A9F4;
    border: 1px solid #2196F3;
}

input.button:hover {
    cursor: pointer;
    background: #FFC107;
    border: 1px solid #FF9800;
}
  
#wrapper {
    display: inline-block;
    vertical-align: top;
    width: 1000px;
    margin: 10px auto;
    padding: 20px;
    text-align: left;
    border: 2px dashed gray;

}

.container {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dashed gray;
    color:black;
}

.column {
    position: relative;
    /*top: 60px;*/
    float: left;
} 

#leftColumn {
    left: 0px;
    width: 300px;
   /* background: orange;*/
    background-color: rgba(183, 205, 198, 0.6);
}

#rightColumn {
    /*left: 320px;*/
    width: 680px;
    margin-left: 20px;
    background-color: rgba(183, 205, 198, 0.6);

}

        #rightColumn a {
            font-weight: 700;
        }
        
        #rightColumn a:hover {
            color: #FF0000;
        }
        
        
        
#slidingBox {
    position: absolute;
    top: 100px;
    right: -244px;
    width: 284px;
    background-color: rgba(183, 205, 198, 0.6);
}

        #slidingBox .label,
        #slidingBox .content {
            float: left;
        }
        
        #slidingBox .label {
            width: 40px;
            height: 100px;
            background-color: rgba(183, 205, 198, 0.9);
            text-align: center;
        }
        
        #slidingBox .label:hover {
            cursor: pointer;
            background: #03A9F4;
        }
        
        #slidingBox .content {
            width: 200px;
            min-height: 200px;
            padding: 20px;
            background: #FFF;
            border: 2px solid #000;
        }

        
.contactForm {
    padding: 10px;
}

        .contactForm .row {
            position: relative;
            float: left;
            clear: both;
            margin-bottom: 10px;
        }
        
        
        
#menu {}
    
        #menu > ul {
            list-style: none;
            float: right;
        }
        
                #menu > ul li {
                    float: left;
                    margin-left: 20px;
                }

                    #menu > ul li a{
                        text-decoration: none;
                        color:black;
                    }

                        #menu > ul li a:hover{
                            color:orange;
                        }
                
                        #menu > ul li ul {
                            display: none;
                            list-style: none;
                            clear: both;
                        }
                        
                                #menu > ul li ul li {
                                    float: left;
                                    clear: both;
                                    margin-bottom: 5px;
                                }
                                
                                
ul.tabs {
    list-style: none;
    display: table;
    float: left;
    width: 100%;
    height: 30px;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
    border-bottom: 2px solid #CCC;
}

        ul.tabs li {
            display: table-cell;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            background: #FAFAFA;
            border-right: 1px solid #CCC;
        }
        
                ul.tabs li a {
                    display: block;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                
                ul.tabs li a:hover {
                    text-decoration: underline;
                }
                
        ul.tabs li:last-child {
            border-right: none;
        }
        
        ul.tabs li.active {
            background: #000;
        }
        
                ul.tabs li.active a { 
                    color: #FFF;
                }
        
div.tab {
    display: none;
    float: left;
    width: 100%;
    padding: 20px;
    /*background: #FFF;*/
    border: 1px solid #CCC;
    box-sizing: border-box;
     background-color: rgba(183, 205, 198, 0.6);
}

div.tab.active {
    display: block;
}



    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }

