{% include "header.html" %}




<h1>czesc</h1>
<div class="row">

    <div class="col-md-6 bord">
        
    {% if posts %}
            {% for post in posts %}
                <div class="post">
                        <h3><a href="{{ post.get_absolute_url }}"> {{post.title}} </a></h3>
                        <div><small>{{post.posted}}</small></div>
                        <div>{{post.body}}</div>
                    <hr/>
                </div>
            {% endfor %}
    {% else %}
        
    {% endif %}
        
    </div>
    <div class="col-md-6 bord">
        
    {% if categories %}
    <ul>
        <li><a href="/blog/">Strona główna</a></li>
        {% for category in categories %}
        <li><a href="{{category.get_absolute_url }}">{{ category.title}}</a></li>
        {% endfor%}

    </ul>
    {% else %}
    <p></p>
    {% endif %}
    
    
    
    
    
    </div>
    
</div>


{% include "footer.html" %}
