{% load static %}
{% include "header.html" %}
<div class="container text-center"> 
  
<div class="row tree">   

<img id="drzewo"src="{% static "drzewo.jpg" %}" alt="drzewo"/>
   
</div> 
</div> 
{% include "footer.html" %}