{% include "header.html" %}
{% if post %}
	<div class="">
		<h3>{{ post.title}}</h3>
		<div><small>{{post.posted}}</small></div>
		<div>{{ post.body }}</div>

	</div>	



{% else %}
	<p>Brak takiego wpisu.</p>
{% endif %}
{% include "footer.html" %}
