@charset "utf-8";
body{
    background: #ffffff url('../img/background.png') repeat;
    width: 100%;
    font: 12px/20px Verdana, Arial, sans-serif;
    color:#111;
}
#wrapper{
    margin: 0 auto;
    width: 960px;
    padding: 0 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
#logo{
    font: 50px/140px 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;
    color:#EA7B01;
    display: block;
    background: transparent url('../img/logo.png') no-repeat top left;
    padding: 0 0px 0 200px;
    height: 150px;
    margin: 0 0 20px 0;
    
}
header{
    position: relative;
    margin: 10px 0 0 0;
    height: 300px;
}
header nav{
    position: absolute;
    right: 0px;
    top:130px;
}
header nav ul{margin: 0;padding: 0;}
header nav ul li{
    float: left;
    margin-left: 5px;
    list-style: none;
}
header nav ul li a{
    color:#EA7B01;
    text-decoration: none;
    font-size: 14px;
    padding: 4px 8px;
    display: inline-block;
}
header nav ul li a:hover{
    color:#FFD0A8;
}


header nav ul li a:hover{
    color:#FFD0A8;
}
header nav ul li a.active{
    background: #FF7700; /* Old browsers */
    background: -moz-linear-gradient(top,  #FF7700 0%, #EA7B01 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #FF7700 0%,#EA7B01 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #FF7700 0%,#EA7B01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7700', endColorstr='#EA7B01',GradientType=0 ); /* IE6-9 */

    color:#ffffff;
    
    border:1px solid #EA7B01;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #EA7B01;
    -moz-box-shadow: 1px 1px 2px #EA7B01;
    box-shadow: 1px 1px 1px #EA7B01;
}

header nav ul li a.active:hover{
    background: #FFD0A8; /* Old browsers */
    background: -moz-linear-gradient(top,  #FFD0A8 0%, #EA7B01 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #FFD0A8 0%,#EA7B01 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #FFD0A8 0%,#EA7B01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD0A8', endColorstr='#EA7B01',GradientType=0 ); /* IE6-9 */

    color:#ffffff;
}

header section#main-image{
    background: url('../img/mainfoto.png') no-repeat;
    height: 355px;
    width: 930px;
    display: block;
    border:5px solid #fff;
    margin:0 auto;
    -webkit-box-shadow:0 5px 6px rgba(0,0,0, 0.25);
    -moz-box-shadow:0 5px 6px rgba(0,0,0, 0.25);
    box-shadow:0 5px 6px rgba(0,0,0, 0.25);
}

section#main-image figure{
    float: right;
    height: 245px;
    padding: 110px 0 0 60px;
    width: 250px;
    background-color: rgba(0,0,0,0.5);
}

section#main-image figure h2{
    color:#fff;
    font-size:28px;
    line-height: 40px;
    font-family: 'Oswald', sans-serif;
}

section#main-image figure h2.second{margin-left:40px;}
section#main-image figure h2.third{margin-left:80px;}

footer{
    clear: both;
    margin-top: 20px;
    padding:15px;
    background: #EA7B01;
    display: block;
    overflow: hidden;
    -moz-border-radius:5px;
    border-radius:5px;
    
}

footer nav ul {margin:0;padding:0;}
footer nav ul li{
    float: left;
    margin-left: 20px;
    position: relative;
    list-style: none;
}
footer nav ul li a{text-decoration: none;color: inherit}
footer nav ul li a:hover{color: :#ffffff;}

.right{float: right;}
.left{float: left;}

#content-wrapper{
    clear:both;
    padding: 30px 10px 0 10px;
    overflow: hidden;
}
#content-wrapper h2{
    font-family: 'Source Sans Pro', sans-serif;
    color:#EA7B01;
    font-size:24px;
    margin-bottom: 15px;
    margin-top:0px;
    text-shadow:0 0 1px transparent;
}
#content-wrapper strong{
    font-weight: bold;color:#EA7B01;
}

#content-wrapper div{
    display: table;
    height: 100%;
    margin:00 2px 0;
    width: 100%;
}

#content-wrapper article{
    float: left;
    width: 620px;
    padding-bottom: 0px;
    display: table-cell;
}
#content-wrapper aside{
    float: right;
    width: 300px;
    display: table-cell;
}

aside section{
    margin-bottom: 0px;
    overflow: hidden;
}
#content-wrapper section.news ul{margin:0; padding:0;overflow: hidden;}
#content-wrapper section.news ul li{float:left;width: 300px;margin: 0 0 10px 0;}
#content-wrapper section.news ul li.row-end{margin: 0;}
#content-wrapper section.news ul li h3{color:#EA7B01;}
#content-wrapper section.news ul li a.more{float:right;color:#EA7B01;}
#content-wrapper section.news ul li a.more:hover{text-decoration: none;}

.gallery {display:table-cell;}
.gallery ul {margin:0;padding:0;}
.gallery ul li{float:left;margin: 5px 14px;}

.gallery ul li a img{
   border:4px solid #fff;
  -webkit-box-shadow: 0px 3px 6px #EA7B01;
  -moz-box-shadow: 0px 3px 6px #EA7B01;
  box-shadow: 0px 3px 6px #EA7B01;
}
