body{
        background-color: rgba(234, 240, 255, 0.7);
}
.container{
    text-align: center;
font-size: 30px;

    
}
.headering{
    margin-top: 15px;
    margin-bottom: 50px;
/*    border:1px dotted black;*/
    background-color: rgba(183, 215, 187, 0.8);
}

.plansza{
/* border: 1px dotted black;*/
    height: 150px;
    width: 150px;
    text-align: center;
    padding-top:65px;
/*     word-wrap: break-word;*/
}
.row{
    margin-left:340px;
    margin-right:340px;
    
}

.rowA{
    border-bottom: 1px solid black;
    
}
.rowB{
    border-bottom: 1px solid black;
}
.rowC{
    border-bottom: 1px solid black;
}

.borderA{
    border-right:  1px solid black;
}
