body{
    background-color: yellow;
}
.playBox{
    display: none;
    text-align: center;
}
.settingsBox{
	text-align: center;
}
h1,h4{
	text-align: center;
}
.fota{
	padding-left: 300px;
	margin-top: 100px;
}
