body{
    background-image: url('../img/city.jpg');
    
}
#wrapper{
    width: 1022px;
    margin: auto;
    padding: auto;

}
#header{
    
    height: 100px;
    background-color: rgba(128, 191, 242, 0.6);
    color:black;
    border-radius: 15px;
    /*margin-left: 7px;
    margin-right: 7px;*/
    margin:auto 7px;

    
    
}
ul{
    width: 100%;
    margin: 0;
    padding: 0;
    color:black;
}

 ul li {
     display: inline;
     width: 100%;
     padding: 10px;
     padding-left: 0;
     margin-left: 10px;
     /*color:black;*/
}
li a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:orange;
}

.nowe{
    width: 328px;
    height: 240px;
    background-color: azure;
    text-align: center;
    float:left;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    margin-right: 7px;
    
}
    .nowe:first-child{
    margin-left: 7px;
}
    .nowe:nth-child(4){
    margin-left: 7px;
}

#footer{
    clear: both;
    border:1px dotted white;
    height: auto;
    text-align: center;
    background-color: rgba(52, 187, 246, 0.6);
    color:black;
    border-radius: 25px;
    margin:auto 7px;
}
h3{
    text-decoration: underline;
}
h1{
     margin-left: 10px;
}

@media all and (max-width: 1023px){
 
 #wrapper{
    width: auto;

}
 #header{
    height: auto;
    width: auto;
    color:black;
}
.nowe{
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px dotted black;
    float:left;
 
}
    
ul li {
    display: block;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin: 0;
    color:black;
    
}
li {display: block;
    border: 1px dotted black;
    width: auto;
    height: auto;
    padding: 0;
    }
li a{
        color: black;
    }
li:hover{
    background-color: darkorange;
    }
    
h1{
    text-align: center;
}
    .nowe:first-child{
    margin-left: 0;
}
.nowe:nth-child(4){
    margin-left: 0;
}
  
}