body{
    background-color: rgba(230, 233, 224, 0.9);

}
.wordCount {

	letter-spacing: 10pt;
	font-size: 26pt;

}
.container{
 /*   border:1px dotted black;*/
    width: 1024px;
    
}
.row1{
  /*  border:1px dotted black;*/
    text-align: center;
    padding-bottom: 20px;
    margin-top: 50px;
     background-color: rgba(215, 243, 223, 0.9);
}
.row2{
   
}
.statusBar{
 /*   border:1px dotted black;*/
    height: 220px;
    background-color: rgba(253, 253, 251, 0.9);

}

.alphabet{
  /*  border:1px dotted black;*/
    height: 220px;
    widows: 300px; 
    padding: 25px;
    text-align: center;
    background-color: rgba(253, 253, 251, 0.9);

}

.letter{
    padding: 10px;
    font-size: 10px;
    margin: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
}