body{
 background-color: #3e3e3e;
 color:white;
height: 100%;
    width: 100%;
}
.myDiv{
    border:1px dotted black;
    height: 300px;
    width: 300px;
}
.tree{
    margin-top: 100px;
    margin-bottom: 130px;
}
footer{
    border: 1px solid white;
    height: 50px;
        
}
.bord{
    
    min-height: 500px;
}
.container{
    
}